ffx/index.html
<!DOCTYPE html><html lang="ja"><head><meta charset="UTF-8"><title>FFX Monsters</title><link rel="stylesheet" type="text/css" href="style.css"></head><body><div id="content"><h2 id="title">FFXモンスター 地域別 </h2><div class="gr"><h2 class="gt">ビサイド島</h2><div class="row"><div class="e"><div class="ic"><img src="png_img/dingo.png" class="m"/></div><p class="d">ディンゴ</p></div><div class="e"><div class="ic"><img src="png_img/waterflan.png" class="m"/></div><p class="d">ウォータープリン</p></div><div class="e"><div class="ic"><img src="png_img/condor.png" class="m"/></div><p class="d">コンドル</p></div></div></div><div class="gr"><h3 class="gt">キーリカの森</h3><div class="row"><div class="e"><div class="ic"><img src="png_img/parsum.png" class="m"/></div><p class="d">パルサム</p></div><div class="e"><div class="ic"><img src="png_img/yellowelement.png" class="m"/></div><p class="d">イエローエレメント</p></div><div class="e"><div class="ic"><img src="png_img/dinonix.png" class="m"/></div><p class="d">ディノニクス</p></div><div class="e"><div class="ic"><img src="png_img/bee.png" class="m"/></div><p class="d">キラービー</p></div></div></div><div class="gr"><h3 class="gt">ミヘン街道</h3><div class="row"><div class="e"><div class="ic"><img src="png_img/floateye.png" class="m"/></div><p class="d">フロートアイ</p></div><div class="e"><div class="ic"><img src="png_img/raldo.png" class="m"/></div><p class="d">ラルド</p></div><div class="e"><div class="ic"><img src="png_img/bom.png" class="m"/></div><p class="d">ボム</p></div><div class="e"><div class="ic"><img src="png_img/white_element.png" style="height: 150px; width: 130px;" class="m"/></div><p class="d">ホワイトエレメント</p></div><div class="e"><div class="ic"><img src="png_img/mihen-fang.png" class="m"/></div><p class="d">ミヘンファング</p></div></div><div class="row"><div class="e"><div class="ic"><img src="png_img/dualhorn.png" class="m"/></div><p class="d">デュアルホーン</p></div><div class="e"><div class="ic"><img src="png_img/ipiria.png" class="m"/></div><p class="d">イピリア</p></div><div class="e"><div class="ic"><img src="png_img/vivle.png" class="m"/></div><p class="d">ヴィーヴル</p></div></div></div><div class="gr"><h3 class="gt">キノコ岩街道</h3><div class="row"><div class="e"><div class="ic"><img src="png_img/thunderflan.png" class="m"/></div><p class="d">サンダープリン</p></div><div class="e"><div class="ic"><img src="png_img/fungoongo.png" class="m"/></div><p class="d">フンゴオンゴ</p></div><div class="e"><div class="ic"><img src="png_img/raptor.png" class="m"/></div><p class="d">ラプトゥル</p></div><div class="e"><div class="ic"><img src="png_img/red-element.png" style="height: 150px; width: 130px;" class="m"/></div><p class="d">レッドエレメント</p></div><div class="e"><div class="ic"><img src="png_img/gandarva.png" class="m"/></div><p class="d">ガンダルヴァ</p></div></div><div class="row"><div class="e"><div class="ic"><img src="png_img/lamashtu.png" class="m"/></div><p class="d">ラマシュトゥ</p></div><div class="e"><div class="ic"><img src="png_img/garuda.png" class="m"/></div><p class="d">ガルダ</p></div></div></div><div class="gr"><h3 class="gt">ジョゼ街道</h3><div class="row"><div class="e"><div class="ic"><img src="png_img/garm.png" class="m"/></div><p class="d">ガルム</p></div><div class="e"><div class="ic"><img src="png_img/basilisk.png" class="m"/></div><p class="d">バジリスク</p></div><div class="e"><div class="ic"><img src="png_img/bunyip.png" class="m"/></div><p class="d">バニップ</p></div><div class="e"><div class="ic"><img src="png_img/simurgh.png" class="m"/></div><p class="d">シームルグ</p></div><div class="e"><div class="ic"><img src="png_img/snowflan.png" class="m"/></div><p class="d">スノープリン</p></div></div><div class="row"><div class="e"><div class="ic"><img src="png_img/bitebug.png" class="m"/></div><p class="d">バイトバグ</p></div><div class="e"><div class="ic"><img src="png_img/ochu.png" class="m"/></div><p class="d">オチュー</p></div></div></div><div class="gr"><h3 class="gt">雷平原</h3><div class="row"><div class="e"><div class="ic"><img src="png_img/aerouge.png" class="m"/></div><p class="d">エイロージュ</p></div><div class="e"><div class="ic"><img src="png_img/kusariku.png" class="m"/></div><p class="d">クサーリク</p></div><div class="e"><div class="ic"><img src="png_img/gold-element.png" style="height: 150px; width: 130px;" class="m"/></div><p class="d">ゴールドエレメント</p></div><div class="e"><div class="ic"><img src="png_img/buer.png" class="m"/></div><p class="d">ブエル</p></div><div class="e"><div class="ic"><img src="png_img/melisine.png" class="m"/></div><p class="d">メリジュヌ</p></div></div><div class="row"><div class="e"><div class="ic"><img src="png_img/larva.png" style="height: 150px; width: 130px;" class="m"/></div><p class="d">ラルヴァ</p></div><div class="e"><div class="ic"><img src="png_img/sabotenda.png" style="height: 150px; width: 130px;" class="m"/></div><p class="d">サボテンダー？</p></div><div class="e"><div class="ic"><img src="png_img/giant.png" class="m"/></div><p class="d">鉄巨人</p></div></div></div><div class="gr"><h3 class="gt">マカラーニャの森・湖</h3><div class="row"><div class="e"><div class="ic"><img src="png_img/blueelement.png" style="height: 150px; width: 130px;" class="m"/></div><p class="d">ブルーエレメント</p></div><div class="e"><div class="ic"><img src="png_img/xiphos.png" class="m"/></div><p class="d">クーシポス</p></div><div class="e"><div class="ic"><img src="png_img/murufshu.png" class="m"/></div><p class="d">ムルフシュ</p></div><div class="e"><div class="ic"><img src="png_img/wasp.png" style="height: 150px; width: 130px;" class="m"/></div><p class="d">ワスプ</p></div><div class="e"><div class="ic"><img src="png_img/shmelke.png" class="m"/></div><p class="d">シュメルケ</p></div></div><div class="row"><div class="e"><div class="ic"><img src="png_img/chimera.png" class="m"/></div><p class="d">キマイラ</p></div><div class="e"><div class="ic"><img src="png_img/iceflan.png" class="m"/></div><p class="d">アイスフラン</p></div><div class="e"><div class="ic"><img src="png_img/evileye.png" class="m"/></div><p class="d">イービルアイ</p></div><div class="e"><div class="ic"><img src="png_img/snow_wolf.png" class="m"/></div><p class="d">スノーウルフ</p></div><div class="e"><div class="ic"><img src="png_img/mafdet.png" class="m"/></div><p class="d">マフート</p></div></div></div><div class="gr"><h3 class="gt">ビーカネル島・サヌビア砂漠</h3><div class="row"><div class="e"><div class="ic"><img src="png_img/alcyone.png" class="m"/></div><p class="d">アルキュオネ</p></div><div class="e"><div class="ic"><img src="png_img/sandwolf.png" class="m"/></div><p class="d">サンドウルフ</p></div><div class="e"><div class="ic"><img src="png_img/mushussu.png" class="m"/></div><p class="d">ムシュフシュ</p></div><div class="e"><div class="ic"><img src="png_img/sandworm.png" class="m"/></div><p class="d">サンドウォーム</p></div><div class="e"><div class="ic"><img src="png_img/zu.png" style="height: 150px; width: 130px;" class="m"/></div><p class="d">ズー</p></div></div><div class="row"><div class="e"><div class="ic"><img src="png_img/sabotenda.png" style="height: 150px; width: 130px;" class="m"/></div><p class="d">サボテンダー</p></div></div></div><div class="gr"><h3 class="gt">ナギ平原</h3><div class="row"><div class="e"><div class="ic"><img src="png_img/flameflan.png" class="m"/></div><p class="d">フレイムプリン</p></div><div class="e"><div class="ic"><img src="png_img/nebiros.png" class="m"/></div><p class="d">ネビロス</p></div><div class="e"><div class="ic"><img src="png_img/skoll.png" class="m"/></div><p class="d">スコル</p></div><div class="e"><div class="ic"><img src="png_img/shred.png" class="m"/></div><p class="d">シュレッド</p></div><div class="e"><div class="ic"><img src="png_img/hedgeviper.png" class="m"/></div><p class="d">ヘッジバイパー</p></div></div><div class="row"><div class="e"><div class="ic"><img src="png_img/cuarl.png" class="m"/></div><p class="d">クァール</p></div><div class="e"><div class="ic"><img src="png_img/ogre.png" class="m"/></div><p class="d">オーガ</p></div><div class="e"><div class="ic"><img src="png_img/chimera_brain.png" class="m"/></div><p class="d">キマイラブレイン</p></div><div class="e"><div class="ic"><img src="png_img/malboro.png" class="m"/></div><p class="d">モルボル</p></div></div></div><div class="gr"><h3 class="gt">盗まれた祈り子の洞窟</h3><div class="row"><div class="e"><div class="ic"><img src="png_img/imp.png" class="m"/></div><p class="d">ガルキマセラ</p></div><div class="e"><div class="ic"><img src="png_img/yowie.png" class="m"/></div><p class="d">ヨーウィー</p></div><div class="e"><div class="ic"><img src="png_img/eppaj.png" style="height: 150px; width: 130px;" class="m"/></div><p class="d">エページュ</p></div><div class="e"><div class="ic"><img src="png_img/nidhogg.png" class="m"/></div><p class="d">ニーズヘッグ</p></div><div class="e"><div class="ic"><img src="png_img/dark_element.png" class="m"/></div><p class="d">ダークエレメント</p></div></div><div class="row"><div class="e"><div class="ic"><img src="png_img/thorn.png" class="m"/></div><p class="d">ソーン</p></div><div class="e"><div class="ic"><img src="png_img/valaha.png" class="m"/></div><p class="d">ヴァラーハ</p></div><div class="e"><div class="ic"><img src="png_img/ghost.png" class="m"/></div><p class="d">ゴースト</p></div><div class="e"><div class="ic"><img src="png_img/tonberry.png" style="height: 150px; width: 130px;" class="m"/></div><p class="d">トンベリ</p></div></div></div><div class="gr"><h3 class="gt">ガガゼト山</h3><div class="row"><div class="e"><div class="ic"><img src="png_img/bandersnatch.png" class="m"/></div><p class="d">バンダースナッチ</p></div><div class="e"><div class="ic"><img src="png_img/grat.png" class="m"/></div><p class="d">グラット</p></div><div class="e"><div class="ic"><img src="png_img/ashura.png" style="height: 150px; width: 130px;" class="m"/></div><p class="d">アシュラ</p></div><div class="e"><div class="ic"><img src="png_img/grenade.png" style="height: 150px; width: 130px;" class="m"/></div><p class="d">グレネード</p></div><div class="e"><div class="ic"><img src="png_img/splasher.png" class="m"/></div><p class="d">スプラッシャー</p></div></div><div class="row"><div class="e"><div class="ic"><img src="png_img/achelous.png" class="m"/></div><p class="d">アケオロス</p></div><div class="e"><div class="ic"><img src="png_img/maelspike.png" class="m"/></div><p class="d">レイジングスパイク</p></div><div class="e"><div class="ic"><img src="png_img/mandragora.png" class="m"/></div><p class="d">マンドラゴラ</p></div><div class="e"><div class="ic"><img src="png_img/behemoth.png" class="m"/></div><p class="d">ベヒーモス</p></div><div class="e"><div class="ic"><img src="png_img/darkflan.png" class="m"/></div><p class="d">ダークプリン</p></div></div><div class="row"><div class="e"><div class="ic"><img src="png_img/grendel.png" class="m"/></div><p class="d">グレンデル</p></div><div class="e"><div class="ic"><img src="png_img/ahriman.png" class="m"/></div><p class="d">アーリマン</p></div></div></div><div class="gr"><h3 class="gt">「シン」の体内</h3><div class="row"><div class="e"><div class="ic"><img src="png_img/exoray.png" class="m"/></div><p class="d">アンテサンサン</p></div><div class="e"><div class="ic"><img src="png_img/gemini.png" class="m"/></div><p class="d">ウルフラマイター（青）</p></div><div class="e"><div class="ic"><img src="png_img/gemini.png" class="m"/></div><p class="d">ウルフラマイター（赤）</p></div><div class="e"><div class="ic"><img src="png_img/adamantoise.png" class="m"/></div><p class="d">アダマンタイマイ</p></div><div class="e"><div class="ic"><img src="png_img/behemoth_king.png" class="m"/></div><p class="d">キングベヒーモス</p></div></div><div class="row"><div class="e"><div class="ic"><img src="png_img/wraith.png" class="m"/></div><p class="d">レイス</p></div><div class="e"><div class="ic"><img src="png_img/great_malboro.png" class="m"/></div><p class="d">モルボルグレート</p></div><div class="e"><div class="ic"><img src="png_img/barbatos.png" class="m"/></div><p class="d">バルバトゥース</p></div><div class="e"><div class="ic"><img src="png_img/demonolith.png" class="m"/></div><p class="d">デビルモノリス</p></div></div></div><div class="gr"><h3 class="gt">オメガ遺跡</h3><div class="row"><div class="e"><div class="ic"><img src="png_img/floating_death.png" class="m"/></div><p class="d">デスフロート</p></div><div class="e"><div class="ic"><img src="png_img/black_element.png" class="m"/></div><p class="d">ブラックエレメント</p></div><div class="e"><div class="ic"><img src="png_img/zaurus.png" class="m"/></div><p class="d">ザウルス</p></div><div class="e"><div class="ic"><img src="png_img/spirit.png" class="m"/></div><p class="d">スピリット</p></div><div class="e"><div class="ic"><img src="png_img/halma.png" class="m"/></div><p class="d">ハァルマ</p></div></div><div class="row"><div class="e"><div class="ic"><img src="png_img/master_coeurl.png" class="m"/></div><p class="d">マスタークァール</p></div><div class="e"><div class="ic"><img src="png_img/machea.png" class="m"/></div><p class="d">メチーエ</p></div><div class="e"><div class="ic"><img src="png_img/puroboros.png" style="height: 150px; width: 130px;" class="m"/></div><p class="d">ピュロボロス</p></div><div class="e"><div class="ic"><img src="png_img/tonberry.png" style="height: 150px; width: 130px;" class="m"/></div><p class="d">マスタートンベリ</p></div><div class="e"><div class="ic"><img src="png_img/varuna.png" class="m"/></div><p class="d">ヴァルナ</p></div></div></div></div></body></html>

ffx/index.jade
mixin e(url, name)
	.e
		.ic: img.m(src="png_img/" + url)
		p.d= name
mixin ef(url, name)
	.e
		.ic: img.m(src="png_img/" + url, style="height: 150px; width: 130px;")
		p.d= name
mixin es(url, name, style)
	.e
		.ic: img.m(src="png_img/" + url, style=style)
		p.d= name

doctype html
html(lang="ja")
	head
		meta(charset="UTF-8")
		title FFX Monsters
		link(rel="stylesheet", type="text/css", href="style.css")
	body
		#content

			h2#title FFXモンスター 地域別 

			.gr
				h2.gt ビサイド島
				.row
					mixin e("dingo.png","ディンゴ")
					mixin e("waterflan.png","ウォータープリン")
					mixin e("condor.png","コンドル")
			.gr
				h3.gt キーリカの森
				.row
					mixin e("parsum.png","パルサム")
					mixin e("yellowelement.png","イエローエレメント")
					mixin e("dinonix.png","ディノニクス")
					mixin e("bee.png","キラービー")
			.gr
				h3.gt ミヘン街道
				.row
					mixin e("floateye.png","フロートアイ")
					mixin e("raldo.png","ラルド")
					mixin e("bom.png","ボム")
					mixin ef("white_element.png","ホワイトエレメント")
					mixin e("mihen-fang.png","ミヘンファング")
				.row
					mixin e("dualhorn.png","デュアルホーン")
					mixin e("ipiria.png","イピリア")
					mixin e("vivle.png","ヴィーヴル")
			.gr
				h3.gt キノコ岩街道
				.row
					mixin e("thunderflan.png","サンダープリン")
					mixin e("fungoongo.png","フンゴオンゴ")
					mixin e("raptor.png","ラプトゥル")
					mixin ef("red-element.png","レッドエレメント")
					mixin e("gandarva.png","ガンダルヴァ")
				.row
					mixin e("lamashtu.png","ラマシュトゥ")
					mixin e("garuda.png","ガルダ")
			.gr
				h3.gt ジョゼ街道
				.row
					mixin e("garm.png","ガルム")
					mixin e("basilisk.png","バジリスク")
					mixin e("bunyip.png","バニップ")
					mixin e("simurgh.png","シームルグ")
					mixin e("snowflan.png","スノープリン")
				.row
					mixin e("bitebug.png","バイトバグ")
					mixin e("ochu.png","オチュー")
			.gr
				h3.gt 雷平原
				.row
					mixin e("aerouge.png","エイロージュ")
					mixin e("kusariku.png","クサーリク")
					mixin ef("gold-element.png","ゴールドエレメント")
					mixin e("buer.png","ブエル")
					mixin e("melisine.png","メリジュヌ")
				.row
					mixin ef("larva.png","ラルヴァ")
					mixin ef("sabotenda.png","サボテンダー？")
					mixin e("giant.png","鉄巨人")
			.gr
				h3.gt マカラーニャの森・湖
				.row
					mixin ef("blueelement.png","ブルーエレメント")
					mixin e("xiphos.png","クーシポス")
					mixin e("murufshu.png","ムルフシュ")
					mixin ef("wasp.png","ワスプ")
					mixin e("shmelke.png","シュメルケ")
				.row
					mixin e("chimera.png","キマイラ")
					mixin e("iceflan.png","アイスフラン")
					mixin e("evileye.png","イービルアイ")
					mixin e("snow_wolf.png","スノーウルフ")
					mixin e("mafdet.png","マフート")
			.gr
				h3.gt ビーカネル島・サヌビア砂漠
				.row
					mixin e("alcyone.png","アルキュオネ")
					mixin e("sandwolf.png","サンドウルフ")
					mixin e("mushussu.png","ムシュフシュ")
					mixin e("sandworm.png","サンドウォーム")
					mixin ef("zu.png","ズー")
				.row
					mixin ef("sabotenda.png","サボテンダー")
			.gr
				h3.gt ナギ平原
				.row
					mixin e("flameflan.png","フレイムプリン")
					mixin e("nebiros.png","ネビロス")
					mixin e("skoll.png","スコル")
					mixin e("shred.png","シュレッド")
					mixin e("hedgeviper.png","ヘッジバイパー")
				.row
					mixin e("cuarl.png","クァール")
					mixin e("ogre.png","オーガ")
					mixin e("chimera_brain.png","キマイラブレイン")
					mixin e("malboro.png","モルボル")
			.gr
				h3.gt 盗まれた祈り子の洞窟
				.row
					mixin e("imp.png","ガルキマセラ")
					mixin e("yowie.png","ヨーウィー")
					mixin ef("eppaj.png","エページュ")
					mixin e("nidhogg.png","ニーズヘッグ")
					mixin e("dark_element.png","ダークエレメント")
				.row
					mixin e("thorn.png","ソーン")
					mixin e("valaha.png","ヴァラーハ")
					mixin e("ghost.png","ゴースト")
					mixin ef("tonberry.png","トンベリ")
			.gr
				h3.gt ガガゼト山
				.row
					mixin e("bandersnatch.png","バンダースナッチ")
					mixin e("grat.png","グラット")
					mixin ef("ashura.png","アシュラ")
					mixin ef("grenade.png","グレネード")
					mixin e("splasher.png","スプラッシャー")
				.row
					mixin e("achelous.png","アケオロス")
					mixin e("maelspike.png","レイジングスパイク")
					mixin e("mandragora.png","マンドラゴラ")
					mixin e("behemoth.png","ベヒーモス")
					mixin e("darkflan.png","ダークプリン")
				.row
					mixin e("grendel.png","グレンデル")
					mixin e("ahriman.png","アーリマン")
			.gr
				h3.gt 「シン」の体内
				.row
					mixin e("exoray.png","アンテサンサン")
					mixin e("gemini.png","ウルフラマイター（青）")
					mixin e("gemini.png","ウルフラマイター（赤）")
					mixin e("adamantoise.png","アダマンタイマイ")
					mixin e("behemoth_king.png","キングベヒーモス")
				.row
					mixin e("wraith.png","レイス")
					mixin e("great_malboro.png","モルボルグレート")
					mixin e("barbatos.png","バルバトゥース")
					mixin e("demonolith.png","デビルモノリス")
			.gr
				h3.gt オメガ遺跡
				.row
					mixin e("floating_death.png","デスフロート")
					mixin e("black_element.png","ブラックエレメント")
					mixin e("zaurus.png","ザウルス")
					mixin e("spirit.png","スピリット")
					mixin e("halma.png","ハァルマ")
				.row
					mixin e("master_coeurl.png","マスタークァール")
					mixin e("machea.png","メチーエ")
					mixin ef("puroboros.png","ピュロボロス")
					mixin ef("tonberry.png","マスタートンベリ")
					mixin e("varuna.png","ヴァルナ")
